<!DOCTYPE html>
<html>
<head>
<style>
div.relative {
    position: relative;
    width: 600px;
    height: 500px;
}

div#absolute1 {
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 180px;
    left: 200px;
    width: 200px;
    height: 100px;
}
    div#absolute2 {
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 180px;
        left: 480px;
    width: 200px;
    height: 100px;
}
    a{
        color: #000;
    }
</style>
</head>
<body>


<div class="relative">
  {% load static %}
  <img src="{% static 'flthtmqnsflwha.png' %}" style="height:500px; width:600px">
  <div id="absolute1">
    <div>{{ request.user.nickname }}님</div>
    <div>환영합니다</div>
  </div>
</div>

  <div id="absolute2">
    <a href="{% url 'tutorial:2' %}">></a>
  </div>

</body>
</html>
