<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
    <style>
    /*파일 분리할 것*/
    /*전체적용*/
    body {
        margin: 0;
    }
    .main-header {
        font-size: 30px;
        color: #fff;
        text-align: center;
        background-color: #3337D3;
        height: 50px;
        padding-top: 30px;
    }
    a:link { color: black; text-decoration: none;}
    a:visited { color: black; text-decoration: none;}
    a:hover { color: black; text-decoration: none;}
</style>
</head>
  <header>
        <div class="main-header">
              <a href="{% url 'stock:main' %}">Blue Chip</a>
        </div>
    </header>
    {% if request.user.is_authenticated %}
    <a href="#">주식</a> <a href="{% url 'stock_analysis:first' %}">주식 분석</a> <a href="{% url 'stock:Balances' %}">잔고</a> <a href="#">대회 공지</a> <a href="#">순위</a>
    <a href="#">튜토리얼</a> <br>
    {% endif %}
{% block body %}
{% endblock %}
</body>
<script>
    {% block script %}{% endblock %}
</script>
</html>
