{% extends 'base.html' %}
{% load static %}
{% block title %}bluechip{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" />
{% endblock %}

{% block body %}
    <div class="container">
        <!-- 로그인 카드 -->
        <div class="login-card-container">
            <div class="login-card" style="background-image: url(images/logincard.png) no-repeat center center;">
                <div class="card-header">
                    <p>LOG IN</p>
                </div>
                <form action="{% url 'auth:login' %}" method="POST">{% csrf_token %}
                    <div class="card-body">
                        <div class="UI">
                            <div class="UIInput">
                                <img src="{% static 'id.png' %}" class="login-icon">
                                {{ form.username }}
                            </div>
                            <br>
                            <hr class="login-line">
                        </div>
                        <div class="UI">
                            <div class="UIInput">
                                <img src="{% static 'lock.png' %}" class="login-icon">
                                {{ form.password }}
                            </div>
                            <br>
                            <hr class="login-line">
                        </div>

                        <a id="movetoM" href="{% url 'sign-up' %}">회원가입</a>
                    </div>
                    <div class="card-footer">
                        <input class="login-btn" type="submit" name="name" value="로그인 하기" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $("#id_username").attr('placeholder', '{{ form.username.label }}');
            $("#id_password").attr('placeholder', '{{ form.password.label }}');
        });
    </script>
{% endblock %}
