{% extends 'base2.html' %}

{% block title %}오르락{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
                  <li><a href="{% url 'stock:random_stock' %}">주식 <span class="sr-only">(current)</span></a></li>
                  <li><a href="{% url 'stock_analysis:first' %}">주식분석</a></li>
                  <li class="active"><a href="{% url 'stock:Balances' %}">잔고</a></li>
                  <li><a href="{% url 'stock:ranking' %}">순위</a></li>
                  <li><a href="{% url 'contest:contest' %}">대회공지</a></li>
                  <li><a href="http://getbootstrap.com/examples/dashboard/">뉴스</a></li>
                  <li><a href="{% url 'tutorial:tutorial_1' %}">튜토리얼</a></li>
                  <li><a href="{% url 'term:term' %}">용어사전</a></li>
          </ul>
      </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: #F8F0ED;">
            <div class="row">
                <div class="col-sm-8 blog-main" style="margin-bottom: 30px;">
                  <div class="blog-post" style="background-color: #fff;" >
                      <h4 class="blog-post-title" style="background-color: #F8F0ED;"><span style="padding-right: 15px;padding-left: 15px;background-color: #fff;padding-top: 10px;padding-bottom: 10px;">보유주식</span></h4>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                            <th>종목 이름</th> <th>보유 개수</th> <th>현재가</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for own_stock in own_stocks %}
                             <tr>
                               <td><a href="{% url 'stock:stock_detail' own_stock.code %}">{{ own_stock.title }}</a></td>
                               <td>{{ own_stock.count }}개</td>
                               <td>{{ own_stock.price }}</td>
                             </tr>
                            {% endfor %}
                          </tbody>
                          </table>
                  </div>
                  <br>
                    <div class="blog-post" style="background-color: #fff;">
                        <h4 class="blog-post-title" style="background-color: #F8F0ED;"><span style="padding-right: 15px;padding-left: 15px;background-color: #fff;padding-top: 10px;padding-bottom: 10px;">통장잔액</span></h4>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>날짜</th> <th>형태</th> <th>주식이름</th> <th>매도/매수</th> <th>신청가</th> <th>신청개수</th>
                              <th>신청총액</th><th>상태</th> <th>통장 잔액</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for stock in  stock_balances %}
                            <tr>
                              <td>{{ stock.create_time|date:"y/m/d" }}</td> <td>{% if stock.request_flag %}출금{% else %}입금{% endif %}</td>
                              <td><a href="{% url 'stock:stock_detail' stock.stock.code %}">{{ stock.stock.title }}</a></td>  <td>{% if stock.request_cancel %}매수{% elif stock.request_flag %}매수{% else %}매도{% endif %}</td>
                              <td>{{ stock.request_price }}</td>
                              <td>{{ stock.count }}</td> <td>{{ stock.total_price }}</td> <td>{% if stock.request_cancel %}취소{% elif stock.flag %}체결{% else %}미체결{% endif %}</td>
                              <td>{{ stock.user_money }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                    <!-- /.blog-post -->
                    <br>
                    <div class="blog-post" style="background-color: #fff;">
                        <h4 class="blog-post-title" style="background-color: #F8F0ED;"><span style="padding-right: 15px;padding-left: 15px;background-color: #fff;padding-top: 10px;padding-bottom: 10px;">체결현황</span></h4>
                          <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>주식이름</th> <th>종류</th> <th>신청가</th> <th>신청개수</th> <th>신청총액</th> <th>상태</th> <th>취소</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for log_stock in log_stocks %}
                                    <tr>
                                        <td>{{ log_stock.stock.title }}</td>
                                        {% if log_stock.request_flag %}<td>매수</td>{% else %}<td>매도</td>{% endif %}
                                        <td>{{ log_stock.request_price }}</td>
                                        <td>{{ log_stock }}</td>
                                        <td>{{ log_stock.total_price }}</td>
                                        {% if log_stock.flag %}<td>체결</td>{% else %}<td>미체결</td>{% endif %}
                                        {% if not log_stock.flag %}
                                        <form action="{% url 'stock:Balances' %}" method="post">
                                          {% csrf_token %}
                                          <input type="hidden" name="stock" value="{{ log_stock.id }}">
                                          <td><input type="submit" name="request_cancel" value="취소"></td>
                                        </form>
                                        {% else %}
                                         <td></td>
                                        {% endif %}
                                    </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
                <!-- /.blog-main -->

                <!-- /.blog-sidebar -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
