{% extends 'base.html' %}

{% block title %}Stock main{% endblock %}

{% block body %}
<div id="content" class="row-fluid" >
<div class="span2 sidebar" >
    <ul class="nav nav-tabs nav-stacked" style="background-color: #fff;">
      {% for stock in stock_business %}
          <li><a href="?business={{ stock }}">{{ stock }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="span8 main" style="
background-color: #fff;
">
    <table class="table table-hover">
            <thead>
                <tr>
                    <th>종목</th>
                    <th>현재가</th>
                    <th>등락률</th>
                </tr>
            </thead>
            <tbody>
              {% for stock in stocks%}
              <tr>
                <td><a href="{% url 'stock:stock_detail' stock.code %}">{{stock.title}}</a></td>
                <td>{{ stock.price }}</td>
                {% if stock.change > 0 %}
                <td><span class='red'>+{{ stock.change }}%</span></td>
                {% elif stock.change < 0 %}
                <td><span class='blue'>{{ stock.change }}%</span></td>
                {% else %}
                <td><span>{{ stock.change }}%</span></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
        </table>
  </div>
  <td>John</td>
  <td>Doe</td>
  <td>john@example.com</td>
  {{ business }}

{% endblock %}
