{% extends 'base2.html' %}

{% block title %}Stock main{% endblock %}

{% block body %}
{% load static %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar" style="padding-top: 0px;background-color: #3338D3;">
    <ul class="nav nav-sidebar">
        <li>
            <a href="{% url 'stock:random_stock' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'stockicon.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">종목</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
        <li>
            <a href="{% url 'stock_analysis:first' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'stock2.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">주식분석</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
        <li>
            <a href="{% url 'stock:Balances' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'leftmoney.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">잔고</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
        <li class="active">
            <a href="{% url 'stock:ranking' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'rank.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">순위</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
        <li>
            <a href="{% url 'contest:contest' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'competition.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">대회공지</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>

        <li id="myBtn">
            <a href="#" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'tutorial.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">튜토리얼</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
        <li>
            <a href="{% url 'term:term' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static  'dic.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">용어사전</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
    </ul>
    <img src="{% static 'sidebarBg.png' %}"style="position: absolute;height: 150px;right: 0;bottom: 0;">
</div>
    </div>
</div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: #F8F0ED;">
            <div class="row">
                <div class="col-sm-8 blog-main" style="margin-bottom: 30px;">
                  <div class="blog-post" style="background-color: #fff;">
                      <h4 class="blog-post-title" style="background-color: #F8F0ED;"><span style="padding-right: 15px;padding-left: 15px;background-color: #fff;padding-top: 10px;padding-bottom: 10px;">순위</span></h4>
                        <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>순위</th>
                                  <th>아이디</th>
                                  <th>닉네임</th>
                                  <th>통장잔액</th>
                                  <th>보유 주식 가치</th>
                                  <th>총자산</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for user in users %}
                            <tr>
                              <td>{{ forloop.counter }}</td> <td>{{ user.username }}</td> <td>{{ user.nickname }}</td>
                              <td>{{ user.money }}</td> <td>{{ user.take_price }}</td> <td>{{ user.total_money }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          </table>
                  </div>
              </div>
       </div>
    </div>
</div>
{% endblock %}
