{% extends 'base2.html' %}

{% block title %}Stock main{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
                  <li><a href="{% url 'stock:random_stock' %}">종목<span class="sr-only">(current)</span></a></li>
                  <li><a href="{% url 'stock_analysis:first' %}">주식분석</a></li>
                  <li><a href="{% url 'stock:Balances' %}">잔고</a></li>
                  <li class="active"><a href="{% url 'stock:ranking' %}">순위</a></li>
                  <li><a href="{% url 'contest:contest' %}">대회공지</a></li>
                  <li><a href="{% url 'tutorial:tutorial_1' %}">튜토리얼</a></li>
                  <li><a href="{% url 'term:term' %}">용어사전</a></li>
          </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: #F8F0ED;">
            <div class="row">
                <div class="col-sm-8 blog-main" style="margin-bottom: 30px;">
                  <div class="blog-post" style="background-color: #fff;">
                      <h4 class="blog-post-title" style="background-color: #F8F0ED;"><span style="padding-right: 15px;padding-left: 15px;background-color: #fff;padding-top: 10px;padding-bottom: 10px;">순위</span></h4>
                        <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>순위</th>
                                  <th>아이디</th>
                                  <th>닉네임</th>
                                  <th>통장잔액</th>
                                  <th>보유 주식 가치</th>
                                  <th>총자산</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for user in top_ten %}
                            <tr>
                              <td>{{ forloop.counter }}</td> <td>{{ user.username }}</td> <td>{{ user.nickname }}</td>
                              <td>{{ user.money }}</td> <td>{{ user.take_price }}</td> <td>{{ user.total_money }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          </table>
                  </div>
              </div>
           </div>
       </div>
    </div>
</div>
{% endblock %}
