{% extends 'base.html' %}

{% block title %}Stock Detail{% endblock %}

{% block body %}
    {{ stock.title }} {{ stock.price }} {{ stock.change }}% <br>
    <img src="{{ stock.today_graph }}" alt="today_graph" /> <br>
    전일 : {{ stock.yesterday_price }} 고가 : {{ stock.high_price }} <br>
    시가 : {{ stock.today_start_price }} 저가 : {{ stock.low_price }} <br>
    상한가 : {{ stock.max_price }} 하한가 : {{ stock.min_price }}

    <br><br>
    <a href="#">매도/매수</a> <a href="#">차트</a> <a href="#">기업 정보</a>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br><br>
    <table>
        <tr>
            <th>매도 호가</th>
        </tr>
        {% for sell in sell_prices %}
            <tr>
                <td>{{ sell }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>매수 호가</th>
        </tr>
        {% for buy in buy_prices %}
            <tr>
                <td>{{ buy }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ request.user.nickname }}님의 소지 금액 : {{ request.user.money }} <br>
    보유 주식 : {{ own_count }}개 <br>
    매수 신청 : {{ request_buy }}개 <br>
    매도 신청 : {{ request_sell }}개 <br>
    <form action="{% url 'stock:request' stock.code %}" method="POST">
        {% csrf_token %}
        <select name="request_flag" id="stock" onchange="changeValue(this.value)">
            <option value="0">매도
            <option value="1">매수
        </select>
        <select id="price" name="request_price">
            {% for price in sell_prices %}
                <option value="{{price}}">{{price}}
            {% endfor %}
        </select>
        <input type="number" name="count" value="1" min="1" max="100" step="1">
        <input type="submit" name="name" value="submit">
    </form>

{% endblock %}

{% block javascript %}
    <script>
        function changeValue(val){
            if(val==0){
                {% for sell in sell_prices %}
                    document.getElementById("price").getElementsByTagName("option")[{{forloop.counter0}}].setAttribute("value", {{ sell }})
                    document.getElementById("price").getElementsByTagName("option")[{{forloop.counter0}}].innerHTML={{ sell }}
                {% endfor %}
            }
            else{
                {% for buy in buy_prices %}
                    document.getElementById("price").getElementsByTagName("option")[{{forloop.counter0}}].setAttribute("value", {{ buy }})
                    document.getElementById("price").getElementsByTagName("option")[{{forloop.counter0}}].innerHTML={{ buy }}
                {% endfor %}
            }
        }
    </script>
{% endblock %}
