{% extends 'base2.html' %}

{% block title %}Stock Detail{% endblock %}

{% block body %}
{% load static %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar" style="padding-top: 0px;background-color: #3338D3;">
    <ul class="nav nav-sidebar">
        <li class="active">
            <a href="{% url 'stock:random_stock' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'stockicon.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">종목</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
        <li>
            <a href="{% url 'stock_analysis:first' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'stock2.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">주식분석</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
        <li>
            <a href="{% url 'stock:Balances' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'leftmoney.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">잔고</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
        <li>
            <a href="{% url 'stock:ranking' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'rank.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">순위</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
        <li>
            <a href="{% url 'contest:contest' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'competition.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">대회공지</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>

        <li id="myBtn">
            <a href="#" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static 'tutorial.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">튜토리얼</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
        <li>
            <a href="{% url 'term:term' %}" style="border-bottom-style: solid;height: 40px;padding: 0;border-top-style: solid;border-color: rgba(255,255,255,0.3);border-width: 1px; height: 50px;color: #fff;">
                <table style="height: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40px;background-color: #2E31BB;"><img src="{% static  'dic.png' %}" style="margin-left: 7px;width: 25px;height: 25px;"></td>
                            <td style="padding-left: 10px;">용어사전</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </li>
    </ul>
    <img src="{% static 'sidebarBg.png' %}"style="position: absolute;height: 150px;right: 0;bottom: 0;">
</div>
    </div>
</div>
<<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: #F8F0ED;">
                <div class="row">
                    <div class="col-sm-8 blog-main" style="width: 100%;margin-bottom: 30px;">
                      <div>
                          <nav style="font-size: 20px;margin-bottom: 25px; margin-left:37px;">
                              <b><a href="{% url 'stock:stock_detail' stock.code %}" style="color: #000;">현재가</a> | <a href="{% url 'stock:buy_sell' stock.code %}" style="color: #000;">매도/매수</a>
                              <br>
                              </b>
                          </nav>
                      </div>
                      <div class="blog-post" style="background-color: #fff;">
                          <div class="col-sm-5 col-md-6" style="background-color: #F8F0ED;margin: 0;">
                              <div class="row">
                                  <div class="col-sm-8 blog-main" style="margin-bottom: 30px;">
                                    <div class="blog-post" style="background-color: #fff; width:350px;">
                                        <h4 class="blog-post-title" style="background-color: #F8F0ED;"><span style="padding-right: 15px;padding-left: 15px;background-color: #fff;padding-top: 10px;padding-bottom: 10px;">{{ stock.title }}</span></h4>
                                        {% if stock.change > 0 %}
                                          <span style="margin-left:12px; font-size:28px;color: #d40400; " >{{ stock.price }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:20px;color: #d40400;">+{{ stock.change }}%</span> <br>
                                        {% elif stock.change < 0 %}
                                          <span style="margin-left:12px;font-size:28px;color: #005dde; " >{{ stock.price }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:20px;color: #005dde;">{{ stock.change }}%</span> <br>
                                        {% else %}
                                        <span style="margin-left:12px;font-size:28px;" >{{ stock.price }}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:20px;">+{{ stock.change }}%</span> <br>
                                        {% endif %}
                                        <div style="margin-left: 10px;">
                                            <div id="img_change" class="btn-group" data-toggle="buttons" style="width: 300px;">
                                                <span class="btn btn-primary" onclick="check_only(this)">1일</span>
                                                <span class="btn btn-primary" onclick="check_only(this)">1개월</span>
                                                <span class="btn btn-primary" onclick="check_only(this)">3개월</span>
                                                <span class="btn btn-primary" onclick="check_only(this)">1년</span>
                                          </div>
                                          <br><br>
                                          <div id="graph_img"> <img src="{{ stock.today_graph }}" alt=""><br><br></div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0" style="width: 100%;margin-bottom: 30px;">
                                      <div class="blog-post" style="background-color: #fff; width:350px;">
                                          <h4 class="blog-post-title" style="background-color: #F8F0ED;"><span style="padding-right: 15px;padding-left: 15px;background-color: #fff;padding-top: 10px;padding-bottom: 10px;">호가</span></h4>
                                          <div class="row">
                                                                                <div class="col-sm-5 col-md-6" style="width:150px; margin:0 ">
                                                                            <table class="table table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>매도 호가</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                {%  for sell in sell_prices %}
                                                                                <tr>
                                                                                    <th>{{ sell }}</th>
                                                                                </tr>
                                                                                {% endfor %}

                                                                            </table></div>
                                                                                 <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0" style="width:150px; margin:0;">
                                                                            <table class="table table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>매수호가</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                {% for buy in buy_prices %}
                                                                                <tr>
                                                                                    <th>{{ buy }}</th>
                                                                                </tr>
                                                                                {% endfor %}

                                                                            </table>
                                                                            </div></div>
                          </div>
                  </div>
          </div>
<div class="row">
    </div>
  </div>
</div>
                    <!-- /.blog-post -->
                    </div>
                    <!-- /.blog-main -->
                    <!-- /.blog-sidebar -->
                </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    <script>
    document.getElementsByName("chkbox")[0].checked = true;
    function changeValue(val){
      if(val==0){
        {% for sell in sell_prices %}
          document.getElementById("price").getElementsByTagName("option")[{{forloop.counter0}}].setAttribute("value", {{ sell }})
          document.getElementById("price").getElementsByTagName("option")[{{forloop.counter0}}].innerHTML={{ sell }}
          {% endfor %}
        }
        else{
          {% for buy in buy_prices %}
            document.getElementById("price").getElementsByTagName("option")[{{forloop.counter0}}].setAttribute("value", {{ buy }})
            document.getElementById("price").getElementsByTagName("option")[{{forloop.counter0}}].innerHTML={{ buy }}
          {% endfor %}
        }
      }
      function check_only(chk){
        var obj = document.getElementById("img_change").getElementsByTagName("span");
        for(var i=0; i<obj.length; ++i){
          if (obj[i] == chk){
            console.log(i);
            break;
          }
        }
        console.log(i);
        if(i==0){
          document.getElementById("graph_img").getElementsByTagName("img")[0].setAttribute("src", '{{ stock.today_graph }}')
        }
        else if(i==1){
            document.getElementById("graph_img").getElementsByTagName("img")[0].setAttribute("src", '{{ stock.month_graph }}')
        }
        else if(i==2){
          document.getElementById("graph_img").getElementsByTagName("img")[0].setAttribute("src", '{{ stock.three_month_graph }}')
        }
        else{
          document.getElementById("graph_img").getElementsByTagName("img")[0].setAttribute("src", '{{ stock.year_graph }}')
        }
  }
    </script>
{% endblock %}
<!--
전일 : {{ stock.yesterday_price }} 고가 : {{ stock.high_price }} <br>
시가 : {{ stock.today_start_price }} 저가 : {{ stock.low_price }} <br>
상한가 : {{ stock.max_price }} 하한가 : {{ stock.min_price }}
<br><br>
<a href="#">매도/매수</a> <a href="#">차트</a> <a href="#">기업 정보</a>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<br><br>
<table>
    <tr>
        <th>매도 호가</th>
    </tr>
    {% for sell in sell_prices %}
        <tr>
            <td>{{ sell }}</td>
        </tr>
    {% endfor %}
    <tr>
        <th>매수 호가</th>
    </tr>
    {% for buy in buy_prices %}
        <tr>
            <td>{{ buy }}</td>
        </tr>
    {% endfor %}
</table>
{{ request.user.nickname }}님의 소지 금액 : {{ request.user.money }} <br>
보유 주식 : {{ own_count }}개 <br>
매수 신청 : {{ request_buy }}개 <br>
매도 신청 : {{ request_sell }}개 <br>
<form action="{% url 'stock:request' stock.code %}" method="POST">
    {% csrf_token %}
    <select name="request_flag" id="stock" onchange="changeValue(this.value)">
        <option value="0">매도
        <option value="1">매수
    </select>
    <select id="price" name="request_price">
        {% for price in sell_prices %}
            <option value="{{price}}">{{price}}
        {% endfor %}
    </select>
    <input type="number" name="count" value="1" min="1" max="100" step="1">
    <input type="submit" name="name" value="submit">
</form>
-->
