{% extends 'base2.html' %}

{% block title %}Stock Search{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
                  <li><a href="{% url 'stock:random_stock' %}">주식 <span class="sr-only">(current)</span></a></li>
                  <li><a href="{% url 'stock_analysis:first' %}">주식분석</a></li>
                  <li><a href="{% url 'stock:Balances' %}">잔고</a></li>
                  <li><a href="{% url 'stock:ranking' %}">순위</a></li>
                  <li><a href="{% url 'contest:contest' %}">대회공지</a></li>
                  <li><a href="http://getbootstrap.com/examples/dashboard/">뉴스</a></li>
                  <li><a href="{% url 'tutorial:tutorial_1' %}">튜토리얼</a></li>
                  <li><a href="{% url 'term:term' %}">용어사전</a></li>
          </ul>
      </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: #F8F0ED;">
            <div class="row">
                <div class="col-sm-8 blog-main" style="margin-bottom: 30px;">
                  <div class="blog-post" style="background-color: #fff;">
                      <h4 class="blog-post-title" style="background-color: #F8F0ED;"><span style="padding-right: 15px;padding-left: 15px;background-color: #fff;padding-top: 10px;padding-bottom: 10px;">보유주식</span></h4>
                        <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>종목</th>
                                  <th>현재가</th>
                                  <th>등락률</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for stock in stocks%}
                            <tr>
                              <td><a href="{% url 'stock:stock_detail' stock.code %}">{{stock.title}}</a></td>
                              <td>{{ stock.price }}</td>
                              {% if stock.change > 0 %}
                              <td><span class='red'>+{{ stock.change }}%</span></td>
                              {% elif stock.change < 0 %}
                              <td><span class='blue'>{{ stock.change }}%</span></td>
                              {% else %}
                              <td><span>{{ stock.change }}%</span></td>
                              {% endif %}
                            </tr>
                            {% endfor %}
                          </tbody>
                          </table>
                  </div>
              </div>
           </div>
       </div>
    </div>
</div>

{% endblock %}
