{% extends 'base.html' %}

{% block title %}Stock Trade{% endblock %}

{% block body %}
  <h3><a href="{% url 'stock_analysis:trade' %}">거래량</a></h3> <h3><a href="{% url 'stock_analysis:increase' %}">상승</a></h3>
  <h3><a href="{% url 'stock_analysis:decrease' %}">하락</a></h3>
  {% for stock in increase_page.object_list %}
    {{ forloop.counter }} {{ stock.title }} {{ stock.change }}<br>
  {% endfor %}
  {% if increase_page.has_other_pages %}
      <div class="pagination">
          {% if increase_page.has_previous %}
              <a href="?page={{ increase_page.previous_page_number }}">&laquo;</a>
          {% else %}
              <a class="disabled"><span>&laquo;</span></a>
          {% endif %}
          {% for page in increase_page.paginator.page_range %}
              {% if increase_page.number == page %}
                  <a class="active"><span>{{ page }} (current)</span></a>
              {% else %}
                  <a href="?page={{ page }}">{{ page }}</a>
              {% endif %}
          {% endfor %}
          {% if increase.has_next %}
              <a href="?page={{ increase_page.next_page_number }}">&raquo;</a>
          {% else %}
              <a class="disabled"><span>&raquo;</span></a>
          {% endif %}
      </div>
  {% endif %}
{% endblock %}
